---
// Import Stylesheet
import { log } from 'astro/dist/core/logger/core';
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://pokeapi.co/api/v2/pokemon/';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Gallery</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.results.map( pokeman =>
					<h1>{pokeman.name}</h1>
					)
				}
		  
			</ul>
		  </main>
		  


	</body>
</html>
