---
import '../styles/global.css';

const apiEndpointURL = 'https://pokeapi.co/api/v2/pokemon/?limit=493';

const baseRes = await fetch(apiEndpointURL);
const baseData = await baseRes.json();

const pokemonList = await Promise.all(
  baseData.results.map(async (mon) => {
    const res = await fetch(mon.url);
    const fullData = await res.json();
    return {
      name: fullData.name,
      image: fullData.sprites.other['official-artwork'].front_default,
      description: fullData.abilities.map(a => a.ability.name).join(', '),
    };
  })
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <title>Pokédex (Server Rendered)</title>
  </head>
  <body>
    <header class="masthead">
      <h1 class="site-title">Pokédex</h1>
    </header>


    <main class="main-area">
      <div class="cards">
        {
          pokemonList.map(item => (
            <div class="card-item">
              <figure>
                <img src={item.image} alt={item.name} />
                {item.name}
                <figcaption>{item.description}</figcaption>
              </figure>
            </div>
          ))
        }
      </div>
    </main>
  </body>
</html>
