---
import '../styles/header.css';
const { siteTitle = "Neon's Custom Pokédex" } = Astro.props;
---

<header class="site-header">
    <h1 class="site-title">
    <a href="/">{siteTitle}</a>
  </h1>
</header>
